/* Basic styles for the navbar */
* {
    margin: 0;
    padding: 0;
}

.gif{
    height: 70px;
}

.Navbar{
    margin-left: 17%;
    margin-top: 10px;
}

.navbar {
    display: flex;
    width: auto;
    color: white;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 10px;
}


.navbar a {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.55);
    text-decoration: none;
    margin: 0 30px;
    font-weight: 500;
}
.nav-options:hover{
    color: rgb(2, 153, 2);    
    /* font-weight: 700; */
}


.menu-button {
    display: none;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}

/* Media query for responsive design */
@media screen and (max-width: 768px) {
    .navbar-links {
        
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
       
    }

    .navbar-links.active a {
        color: white; /* Change the color to white */
        font-size: 20px;  
        padding: 2px 0px;
    }

    .gif{
        height: 70px;
    }

    .Navbar{
        margin: 10px 0 0 0;
        display: flex;
    }
    
    
    .navbar{
        /* display: flex; */
        margin-left: 0;
        max-width: 100px;
    }

    .logo-icon{
        font-size: 30px;
    }

    .Button{
        border: none;
        width: 100px;
        padding: 0;
        
    }

    .navbar-links.active { 
        background-color: green;
        /* background-color: rgb(193, 80, 0); */
        /* backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px); */
        /* background-color: rgb(4, 4, 198); */
        padding-bottom: 10px;
        display: flex;
        padding: 0px;
        width: auto;
        margin-left: 30vw;
        text-align: center;
        border-radius: 5px;
    }

    .anchor{
        color: black;
    }

    .navbar-links.active a{
        /* color: black; */
        font-size: 20px;
    }
    .navbar-links.active a:hover{
        /* color: green; */
        font-size: 25px;
    }    

    .menu-button {
        margin-left: 90vw;
        display: block;
        margin-right: 20px; 
    }
}
